# Ignore debug files
/Debug/*

# Ignore temporary files
*~

# User specific preference file #
#################################
*.pro.user
*.pro.user.*
*.autosave
/SpidrMpx3Eq/notes/.~lock.Developers notes.rtf#
