/SpidrMpx3Eq/.bin
/SpidrMpx3Eq/MPX3GaAs_800_1dot6*
/SpidrMpx3Eq/Selenia_130um_1.6um*
/SpidrMpx3Eq/assemblies/W520_H10_G10_F10_E10_Si500um*
/SpidrMpx3Eq/assemblies/W521_F9_E9_H9_G9_500um_GaAs_Fine/configMammography1G*
/SpidrMpx3Eq/callgrind.out.*
/SpidrMpx3Eq/img_Firmware_16090114.*
/SpidrMpx3Eq/mpx3.json
/SpidrMpx3Eq/qcstmglvisualization.cpp_mine
/SpidrMpx3Eq/scan_*
/firmware/#notes.txt#
/firmware/.#notes.txt
/firmware/SPIDR_MPX3_4_8_1_128MHz_6572_160824_10_43*
/firmware/SPIDR_MPX3_4_8_1_128MHz_6603_160901_15_40*
/firmware/SPIDR_MPX3_4_8_1_200MHz_6581_160824_11_15*
/firmware/SPIDR_MPX3_4_8_1_64MHz_6571_160824_10_12*
/firmware/SPIDR_MPX3_4_8_1_64MHz_6603_160901_14_30*
/firmware/SPIDR_MPX3_4_8_1_6536_160819_15_26*
/firmware/SPIDR_MPX3_4_8_1_6551_160823_10_14*
/firmware/SPIDR_MPX3_4_8_1_6566_160823_14_22*
/firmware/notes.txt
/firmware/run*
/firmware/spidr_MPX3_4_8_1_64MHz_6603_160901_14_30-plus-elf-rel*
/firmware/spidr_MPX3_4_8_1_6566_160823_14_22-plus-elf-rel*
/firmware/tim*
build-spidrflash-Desktop_Qt_5_7_0_GCC_64bit-Release/

# Ignore compile files
/Debug/*
/Release/*
build-SpidrMpx3Eq-Desktop_Qt_5_7_0_GCC_64bit-Release/
build-SpidrMpx3Eq-Desktop_Qt_5_7_0_GCC_64bit-Debug/

# Ignore temporary files
*~

# User specific preference file #
#################################
*.pro.user
*.pro.user.*
*.autosave
/SpidrMpx3Eq/notes/.~lock.Developers notes.rtf#
/SpidrMpx3Eq/eq
/SpidrMpx3Eq/config/last_setting.json
/SpidrMpx3Eq/config/alex_last.json
/SpidrMpx3Eq/config/last_eq/

SpidrMpx3Eq/hola/config/
